{% extends 'base.html'%}

{% block title %} Reporte Detallado {% endblock %}

{% block content %} 

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Reporte</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home/list_report">Lista reportes</a></li>
              <li class="breadcrumb-item active">Reporte</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="col-12">
                <img src="{{reportetodos['imagen']}}" class="img-fluid" alt="Product Image" style="width: 100%;">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{reportetodos['nombre']}}</h3>
              <p>{{reportetodos['descripcion']}}</p>

              <h3 class="mt-3">¿Cómo se identifico el reporte?</h3>
              <p>{{reportetodos['identificar']}}</p>

              <h3 class="mt-3">Ubicación</h3>
              <p>{{reportetodos['ubicacion']}}</p>

              <hr>
              <h4>Estado del reporte</h4>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default text-center active">
                  <input type="radio" name="color_option" id="color_option_a1" autocomplete="off" checked>
                  Leve
                  <br>
                  <i class="fas fa-circle fa-2x text-green" style="{% if reportetodos['estado'] == 'Leve' %} color: #22bb33; {% else %} {% endif %}"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a2" autocomplete="off">
                  Medio
                  <br>
                  <i class="fas fa-circle fa-2x text-blue" style="{% if reportetodos['estado'] == 'Medio' %} color: #f0ad4e; {% else %} {% endif %}"></i>
                </label>
                <label class="btn btn-default text-center">
                  <input type="radio" name="color_option" id="color_option_a3" autocomplete="off">
                  Urgente
                  <br>
                  <i class="fas fa-circle fa-2x text-purple"  style="{% if reportetodos['estado'] == 'Urgente' %} color: #bb2124; {% else %} {% endif %}"></i>
                </label>
              </div>

              <form action="/report/{{reportetodos['id']}}" method="post">

                <div class="mt-4">
                <button class="btn btn-primary btn-lg btn-flat" type="submit">
                  <i class="fa-solid fa-circle-check fa-lg mr-2"></i>
                  Añadir como problema solucionado
              </button>

              </form>

            </div>
          </div>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

{% endblock %}